body {
  margin: 0;
}
h4.logo {
  margin: 0;
  color: #ff5a5f;
  font-size: 35px;
  font-family: "Manrope", sans-serif;
  align-items: center;
}
nav {
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  position: sticky;
  top: 0;
}
div.loginArea {
  display: flex;
  place-items: center;
}
div.loginArea img {
  border-radius: 50%;
  height: 40px;
  cursor: pointer;
}
a#logOutBtn {
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  padding-left: 10px;
  color: black;
}
.airbnb {
  font-size: 30px;
}
section.experiences-photo {
  display: flex;
  justify-content: center;
}
section > img {
  padding: 40px 0 40px 0;
  width: 70%;
}
div.experiences > h1 {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  line-height: 110%;
  margin: 0;
  padding: 20px 0 10px 50px;
}
div.experiences > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 110%;
  margin: 0;
  padding: 0 0 10px 50px;
}
div.card {
  width: auto;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
section.card-group {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  overflow-x: auto;
  margin-left: 20px;
  margin-right: 20px;
}
section.card-photo {
  width: 300px;
  border-radius: 17px;
  background-color: #fe395c;
  height: 400px;
}
p.card-state {
  padding: 5px 10px;
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  margin: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}
p.ratings {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
}
.star {
  color: #fe395c;
  padding-right: 5px;
}
.rating-detail {
  color: #918e9b;
}
.card-details {
  font-family: poppins, sans-serif;
  font-size: 20px;
  padding-top: 10px;
}
.card-details > p {
  margin: 10px 0;
}
.grey {
  color: grey;
}
.bold {
  font-weight: 600;
}
div.success, div.logout {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  place-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}
div#loginPage {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
  /* background-color: black; */
}
div#loginContainer {
  width: 30%;
}
input {
  border: 1px solid grey !important;
}
a.loginPic {
  padding: 25px 0 25px 35px;
  color: #ff5a5f;
  font-family: "Manrope", sans-serif;
  float: right;
  font-size: 1.2rem;
}
